In [68]:
import os
import pandas as pd

stockData = pd.read_csv(os.path.join("datasets/", "DataSet_Excel_Cleaned_final.csv"))

stockData.head(10)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,CloseInt
0,4.0,1965-01-05,1257.719971,1257.719971,1257.719971,1257.719971,1257.719971,0,12.577200,1258
1,NaN,1965-01-06,1263.989990,1263.989990,1263.989990,1263.989990,1263.989990,0,12.639900,1264
2,4.0,1965-01-07,1274.270020,1274.270020,1274.270020,1274.270020,1274.270020,0,12.742700,1274
3,4.0,1965-01-08,1286.430054,1286.430054,1286.430054,1286.430054,1286.430054,0,12.864301,1286
4,4.0,1965-01-12,1288.540039,1288.540039,1288.540039,1288.540039,1288.540039,0,12.885400,1289
5,4.0,1965-01-13,1281.670044,1281.670044,1281.670044,1281.670044,1281.670044,0,12.816700,1282
6,4.0,1965-01-14,1289.500000,1289.500000,1289.500000,1289.500000,1289.500000,0,12.895000,1290
7,4.0,1965-01-18,1271.680054,1271.680054,1271.680054,1271.680054,1271.680054,0,12.716801,1272
8,4.0,1965-01-19,1270.339966,1270.339966,1270.339966,1270.339966,1270.339966,0,12.703400,1270
9,4.0,1965-01-20,1268.880005,1268.880005,1268.880005,1268.880005,1268.880005,0,12.688800,1269

In [69]:
stockData.drop(["Adj Close"], axis=1, inplace=True)

stockData.head(10)

,Index,Date,Open,High,Low,Close,Volume,CloseUSD,CloseInt
0,4.0,1965-01-05,1257.719971,1257.719971,1257.719971,1257.719971,0,12.577200,1258
1,NaN,1965-01-06,1263.989990,1263.989990,1263.989990,1263.989990,0,12.639900,1264
2,4.0,1965-01-07,1274.270020,1274.270020,1274.270020,1274.270020,0,12.742700,1274
3,4.0,1965-01-08,1286.430054,1286.430054,1286.430054,1286.430054,0,12.864301,1286
4,4.0,1965-01-12,1288.540039,1288.540039,1288.540039,1288.540039,0,12.885400,1289
5,4.0,1965-01-13,1281.670044,1281.670044,1281.670044,1281.670044,0,12.816700,1282
6,4.0,1965-01-14,1289.500000,1289.500000,1289.500000,1289.500000,0,12.895000,1290
7,4.0,1965-01-18,1271.680054,1271.680054,1271.680054,1271.680054,0,12.716801,1272
8,4.0,1965-01-19,1270.339966,1270.339966,1270.339966,1270.339966,0,12.703400,1270
9,4.0,1965-01-20,1268.880005,1268.880005,1268.880005,1268.880005,0,12.688800,1269

In [70]:
from sklearn.impute import SimpleImputer

import numpy as np

si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
si.fit(stockData)
stockData_ = si.transform(stockData)
stockData = pd.DataFrame(stockData_, columns=stockData.columns)
len(stockData[stockData.isna().any(axis=1)])

0

In [71]:
X = stockData[["Open", "Volume", "Low", "High"]]
Y = stockData[["CloseInt"]]
Y=Y.astype('int')

In [72]:
from sklearn import preprocessing

standard_scaler = preprocessing.StandardScaler().fit(X[["Open", "Volume", "Low", "High"]])

def scale(dataframe, columns, scaler):
    scaled = scaler.transform(dataframe[columns])
    dataframe[columns] = pd.DataFrame(scaled, columns=columns)
    return dataframe

X = scale(X, ["Open", "Volume", "Low", "High"], standard_scaler)
X.head()

C:\Users\Liam\AppData\Local\Temp\ipykernel_33136\2714775455.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[columns] = pd.DataFrame(scaled, columns=columns)

       Open    Volume       Low      High
0 -1.444217 -0.623586 -1.444764 -1.443835
1 -1.443436 -0.623586 -1.443977 -1.443059
2 -1.442156 -0.623586 -1.442688 -1.441786
3 -1.440641 -0.623586 -1.441163 -1.440280
4 -1.440378 -0.623586 -1.440899 -1.440019

In [73]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(
   X, Y, test_size = 0.2, random_state = 42
)

len(X_train), len(X_test)

(11099, 2775)

In [185]:
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

algorithms = {
    #"Nearest Neighbors" : KNeighborsClassifier(3),
    #"Stochastic Gradient Descent" : SGDClassifier(),
    #"Linear SVM" : SVC(kernel="linear", C=0.025),
    #"Gaussian Process" : GaussianProcessClassifier(1.0 * RBF(1.0)),
    #"Decision Tree" : DecisionTreeClassifier(max_depth=5),
    #"Random Forest" : RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    #"Neural Net" : MLPClassifier(alpha=1, max_iter=1000),
    #"Naive Bayes" : GaussianNB(),
    "Ridge Regression": Ridge(alpha=3.5, solver="saga"),
    #"Lasso": Lasso(),
    #"LDA" : LinearDiscriminantAnalysis(),
}

for name, algorithm in algorithms.items():
    
    # You might need to use y_train.values.ravel()
    # rather than y_train in the fit()-function
    algorithm.fit(X_train, Y_train.values.ravel())

    score = algorithm.score(X_test, Y_test)
    print(name, round(score,2))

Ridge Regression 1.0

Ich entscheide mich für den Ridge Regression Algorithums mit dem Stärke Parameter "alpha" auf 3 gesetzt und dem Solver "SAGA" da dieser die höchste Genauigkeit hat. Die anderen Algroithmen haben alle eine sehr tiefe Genauigkeit, bishin zu einer 0 prozentigen Genauigkeit. Der Linear SVM Algorithmus funktioniert hierbei nicht. Der Gaussian Process Algorithmus funktioniert ebenfalls nicht. Beim Versuch diese auszuführen hängt sich der Code einfach auf. Die Vorhergesagte Genauigkeit soll angeblich bei 100% liegen, jedoch ist die reale Genauigkeit nur etwa 29%.

In [186]:
import joblib
joblib.dump(algorithms["Ridge Regression"], 'stockmarket.joblib')
best_model = joblib.load('stockmarket.joblib')
best_model

Ridge(alpha=5.0, solver='saga')

In [187]:
predict2 = pd.DataFrame([[16850.73047, 116300000, 16839.41016, 16951.53906]], columns=X_train.columns)
predict2 = scale(predict2, ["Open", "Volume", "Low", "High"], standard_scaler)

In [188]:
predictions = best_model.predict(pd.concat([predict2]))
for values, prediction in zip([ "predict2"], predictions):
    print(f"{values} {prediction}")

Die Voraussagen des Algorithmus sind überraschender Weise relativ genau. Es gibt manche Abweichungen, die sind jedoch nicht sehr extrem und für mich in einem akzeptablem Bereich. Es hat darunter auch Vorhersagen welche genau die korrekten Werte hatte. Für die Test Daten habe ich einfach zufällige Daten aus dem Test Datensatz ausgewählt.