In [24]:
import pandas as pd

stockData = pd.read_csv("DataSet_Cleaned_final.csv")

stockData.head(10)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,CloseInt
0,4.0,1965-01-05,1257.719971,1257.719971,1257.719971,1257.719971,1257.719971,0,12.577200,1258
1,NaN,1965-01-06,1263.989990,1263.989990,1263.989990,1263.989990,1263.989990,0,12.639900,1264
2,4.0,1965-01-07,1274.270020,1274.270020,1274.270020,1274.270020,1274.270020,0,12.742700,1274
3,4.0,1965-01-08,1286.430054,1286.430054,1286.430054,1286.430054,1286.430054,0,12.864301,1286
4,4.0,1965-01-12,1288.540039,1288.540039,1288.540039,1288.540039,1288.540039,0,12.885400,1289
5,4.0,1965-01-13,1281.670044,1281.670044,1281.670044,1281.670044,1281.670044,0,12.816700,1282
6,4.0,1965-01-14,1289.500000,1289.500000,1289.500000,1289.500000,1289.500000,0,12.895000,1290
7,4.0,1965-01-18,1271.680054,1271.680054,1271.680054,1271.680054,1271.680054,0,12.716801,1272
8,4.0,1965-01-19,1270.339966,1270.339966,1270.339966,1270.339966,1270.339966,0,12.703400,1270
9,4.0,1965-01-20,1268.880005,1268.880005,1268.880005,1268.880005,1268.880005,0,12.688800,1269

In [25]:
stockData.drop(["Adj Close"], axis=1, inplace=True)

stockData.head(10)

,Index,Date,Open,High,Low,Close,Volume,CloseUSD,CloseInt
0,4.0,1965-01-05,1257.719971,1257.719971,1257.719971,1257.719971,0,12.577200,1258
1,NaN,1965-01-06,1263.989990,1263.989990,1263.989990,1263.989990,0,12.639900,1264
2,4.0,1965-01-07,1274.270020,1274.270020,1274.270020,1274.270020,0,12.742700,1274
3,4.0,1965-01-08,1286.430054,1286.430054,1286.430054,1286.430054,0,12.864301,1286
4,4.0,1965-01-12,1288.540039,1288.540039,1288.540039,1288.540039,0,12.885400,1289
5,4.0,1965-01-13,1281.670044,1281.670044,1281.670044,1281.670044,0,12.816700,1282
6,4.0,1965-01-14,1289.500000,1289.500000,1289.500000,1289.500000,0,12.895000,1290
7,4.0,1965-01-18,1271.680054,1271.680054,1271.680054,1271.680054,0,12.716801,1272
8,4.0,1965-01-19,1270.339966,1270.339966,1270.339966,1270.339966,0,12.703400,1270
9,4.0,1965-01-20,1268.880005,1268.880005,1268.880005,1268.880005,0,12.688800,1269

In [26]:
from sklearn.impute import SimpleImputer

import numpy as np

si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
si.fit(stockData)
stockData_ = si.transform(stockData)
stockData = pd.DataFrame(stockData_, columns=stockData.columns)
len(stockData[stockData.isna().any(axis=1)])

0

In [27]:
X = stockData[["Open", "Volume", "Low", "High"]]
Y = stockData[["CloseInt"]]
Y=Y.astype('int')

In [29]:
from sklearn import preprocessing

standard_scaler = preprocessing.StandardScaler().fit(X[["Open", "Volume", "Low", "High"]])

def scale(dataframe, columns, scaler):
    scaled = scaler.transform(dataframe[columns])
    dataframe[columns] = pd.DataFrame(scaled, columns=columns)
    return dataframe

X = scale(X, ["Open", "Volume", "Low", "High"], standard_scaler)
X.head()

C:\Users\Liam\AppData\Local\Temp\ipykernel_24836\2714775455.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[columns] = pd.DataFrame(scaled, columns=columns)

       Open    Volume       Low      High
0 -1.444217 -0.623586 -1.444764 -1.443835
1 -1.443436 -0.623586 -1.443977 -1.443059
2 -1.442156 -0.623586 -1.442688 -1.441786
3 -1.440641 -0.623586 -1.441163 -1.440280
4 -1.440378 -0.623586 -1.440899 -1.440019

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(
   X, Y, test_size = 0.2, random_state = 42
)

len(X_train), len(X_test)

(11099, 2775)

In [36]:
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

algorithms = {
    "Nearest Neighbors" : KNeighborsClassifier(3),
    "Stochastic Gradient Descent" : SGDClassifier(),
    "Linear SVM" : SVC(kernel="linear", C=0.025),
    "Gaussian Process" : GaussianProcessClassifier(1.0 * RBF(1.0)),
    "Decision Tree" : DecisionTreeClassifier(max_depth=5),
    "Random Forest" : RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    "Neural Net" : MLPClassifier(alpha=1, max_iter=1000),
    "Naive Bayes" : GaussianNB(),
    "LDA" : LinearDiscriminantAnalysis(),
}

for name, algorithm in algorithms.items():
    
    # You might need to use y_train.values.ravel()
    # rather than y_train in the fit()-function
    algorithm.fit(X_train, Y_train.values.ravel())

    score = algorithm.score(X_test, Y_test)
    print(name, round(score,2))

Nearest Neighbors 0.09
Stochastic Gradient Descent 0.0
Decision Tree 0.01
Random Forest 0.01

C:\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:699: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

Neural Net 0.0
Naive Bayes 0.18
LDA 0.02

Ich entscheide mich für den Naive Bayes Algorithums da dieser die höchste Genauigkeit hat. Die anderen Algroithmen haben alle eine sehr tiefe Genauigkeit, bishin zu einer 0 prozentigen Genauigkeit. Der Linear SVM Algorithmus funktioniert hierbei nicht. Der Gaussian Process Algorithmus funktioniert ebenfalls nicht. Beim Versuch diese auszuführen hängt sich der Code einfach auf.

In [37]:
import joblib
joblib.dump(algorithms["Naive Bayes"], 'stockmarket.joblib')
best_model = joblib.load('stockmarket.joblib')
best_model

GaussianNB()

In [68]:
predict1 = pd.DataFrame([[1939.369995, 0, 1939.369995, 1939.369995]], columns=X_train.columns)
predict1 = scale(predict1, ["Open", "Volume", "Low", "High"], standard_scaler)

predict2 = pd.DataFrame([[16504.99023, 112200000, 16385.0293, 16515.83984]], columns=X_train.columns)
predict2 = scale(predict2, ["Open", "Volume", "Low", "High"], standard_scaler)

predict3 = pd.DataFrame([[16504.99023, 0, 1253.869995, 1253.869995]], columns=X_train.columns)
predict3 = scale(predict3, ["Open", "Volume", "Low", "High"], standard_scaler)

predict4 = pd.DataFrame([[18191.89063, 88700000, 18191.89063, 18295.26953]], columns=X_train.columns)
predict4 = scale(predict4, ["Open", "Volume", "Low", "High"], standard_scaler)

In [69]:
predictions = best_model.predict(pd.concat([predict1, predict2, predict3, predict4]))
for values, prediction in zip(["predict1", "predict2", "predict3", "predict4"], predictions):
    print(f"{values} {prediction}")

predict1 1939
predict2 16465
predict3 22898
predict4 18221
predict5 21457

Die Voraussagen des Algorithmus sind überraschender Weise relativ genau. Es gibt manche Abweichungen, die sind jedoch nicht sehr extrem und für mich in einem akzeptablem Bereich. Es hat darunter auch Vorhersagen welche genau die korrekten Werte hatte. Für die Test Daten habe ich einfach zufällige Daten aus dem Test Datensatz ausgewählt.

In [59]:
X_test.head(15)

           Open    Volume       Low      High
12732  0.451176  1.327331  0.455107  0.442964
1078  -1.356795 -0.623586 -1.356749 -1.356941
7794   0.971610 -0.623586  0.986268  0.983679
6109   2.697485 -0.623586  2.724992  2.756426
8166   0.464563 -0.623586  0.472635  0.488621
360   -1.411423 -0.623586 -1.411747 -1.411239
977   -1.388955 -0.623586 -1.389127 -1.388907
8289   0.283807 -0.623586  0.235389  0.274600
3613  -0.796243 -0.623586 -0.792401 -0.799777
8693   0.936257 -0.623586  0.951835  0.955842
3910  -0.708994 -0.623586 -0.704560 -0.713055
2312  -1.011815 -0.623586 -1.009433 -1.014046
13344  1.058923  0.568293  1.061401  1.048509
1586  -1.276962 -0.623586 -1.276375 -1.277590
3877  -0.708998 -0.623586 -0.704564 -0.713059